.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .header{
    height: 60px;
    color: #fff;
    background: #333;
}
.container .middle{
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.middle .aside{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    overflow: auto;
    background: #008c8c;
}
.middle .main{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    overflow: auto;
}
/* 解决页面transition进入或退出时延迟显示问题 */
.middle .main > div{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
}